[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
asyncpg = "*"

[dev-packages]
flake8 = "*"
black = "*"
jedi = "==0.17.2"
pdbpp = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
